body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #333;
    text-align: center;
    padding: 20px 0;
}

header h1,
header h2 {
    color: #fff;
}

section {
    padding: clamp(5px, 5%, 40px);
    margin: clamp(5px, 5%, 40px);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h1,
section h2 {
    color: #333;
    border-left: solid 7px #64bffc;
    text-indent: 10px;
}

p {
    color: #555;
}

.center {
    text-align: center;
    margin: 20px;
}

img {
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.1);
}

h1 img {
    width: 50%;
    height: auto;
}

#screenshots img {
    width: 40%;
    min-width: 250px;
    max-width: 700px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

#gifs img {
    width: 40%;
    min-width: 250px;
    max-width: 700px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

#promotional-arts img {
    /* width: 50%; */
    /* min-width: 350px; */
    max-width: min(1000px, 100%);
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

iframe {
    border: none;
    box-shadow: 0px 5px 25px 5px rgba(0, 0, 0, 0.25);
    width: clamp(160px, 64vw, 640px);
    height: clamp(90px, 36vw, 360px);
    margin-right: 40px;
    margin-bottom: 40px;
}

a.button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
}

a.button:hover {
    background-color: #45a049;
}